/* src/styles/styles.scss */
@use "./mixins" as *;

* {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

*:focus {
  outline: none;
}

button {
  font-family: "Noto Sans KR", sans-serif;
}

.font-h1 {
  font-family: guyot-headline, sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 50px;
  margin: 0;
  text-align: center;
}

.font-h1-kr {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 35px;
  line-height: 1.7;
  text-align: center;
}

.font-sub {
  font-family: guyot-headline, sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 30px;
  margin: 0;
}

.font-h3 {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 25px;
  line-height: 1.5;
}

.font-card {
  font-size: 25px;
  font-family: epilogue-210, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-desc {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
}

.font-white {
  color: #ffffff;
}

.font-black {
  color: #000000;
}

.button {
  border: none;
  min-width: 200px;
  height: 60px;
  font-weight: 500;
  font-size: 18px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button-default {
  @extend .button;
  border: transparent;
  background-color: #ffffff;
  color: #000000;
}

.button-highlight {
  @extend .button;
  background-color: #000000;
  color: #ffffff;
}

/* ✅ 추가: 추천하기(ghost) 버튼 - 기본 투명 */
.button-ghost {
  @extend .button;
  border: none;
  background-color: transparent;
  color: #ffffff;
}

/* ✅ 추가: 추천하기는 화면 크기와 무관하게 hover 시 검정 */
.button-ghost:hover {
  background-color: #000000;
  color: #ffffff;
}

.button-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  bottom: 7vh;
  width: 90vw;
  pointer-events: none;

  button {
    pointer-events: all;
  }
}

.button-container-right {
  @extend .button-container;
  flex-direction: column;
  align-items: flex-end;
}

.button-container-right > button:nth-child(2) {
  margin-top: 10px;
}

.flexbox {
  display: flex;
}

#player {
  position: fixed;
  width: 200px;
  height: 200px;
  top: 20px;
  right: 20px;
  border-radius: 100%;
  overflow: hidden;
}

.player-ui {
  position: fixed;
  top: 170px;
  right: 20px;
  font-size: 25px;
  cursor: pointer;
  border-radius: 100%;
  overflow: hidden;
  z-index: 10;

  div {
    width: 50px;
    height: 50px;
    background: url("/assets/ui/close.svg") center center no-repeat;
    background-size: 90% 90%;
    background-color: #ffffff;
  }
}

.playing-motion {
  -webkit-animation-name: playingMotionAnimation;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-name: playingMotionAnimation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes playingMotionAnimation {
  from {
    -webkit-transform: rotate(0deg) scale(1) skew(0deg);
  }

  to {
    -webkit-transform: rotate(360deg) scale(1) skew(0deg);
  }
}

@include mobile {
  .font-h1 {
    font-size: 27px;
  }

  .font-h3 {
    font-size: 15px;
    font-weight: 400;
  }

  .font-sub {
    font-size: 20px;
  }

  .font-h1-kr {
    font-size: 22.5px;
    font-weight: 400;
  }

  .font-desc {
    font-size: 15px;
  }

  .button {
    flex: 1;
    height: 55px;
    min-width: 170px;
    font-size: 15px;
    border-radius: 0;
  }

  .button-container {
    bottom: 0;
    width: 100vw;
    border-top: 1px solid #000000;
  }

  .button-container-right {
    @extend .button-container;
    flex-direction: row;
    justify-content: space-between;

    button {
      border: none;

      &:nth-child(2) {
        border-left: 1px solid #000000;
      }
    }

    .button-default {
      border: none;
    }
  }

  .button-container-right > button:nth-child(2) {
    margin-top: 0;
  }

  .button-highlight {
    &:hover {
      border-top: 1px solid #000000;
    }
  }

  #player {
    position: fixed;
    width: 140px;
    height: 140px;
    top: 20px;
    right: 20px;
    border-radius: 100%;
    overflow: hidden;
  }

  .player-ui {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 100%;
    overflow: hidden;
    z-index: 10;

    div {
      width: 45px;
      height: 45px;
      background: url("/assets/ui/close.svg") center center no-repeat;
      background-size: 95% 95%;
      background-color: #ffffff;
    }
  }
}

@include tablet {
}

@include desktop {
  .button-default {
    &:hover {
      border: none;
      background-color: #000000;
      color: #ffffff;
    }
  }

  .button-highlight {
    &:hover {
      background-color: #ff5a28;
    }
  }
}
