@use "../../styles/mixins" as *;

.text-preview {
  color: white;
  position: absolute;
  left: calc(50% - 170px);
  top: calc(50% - 200px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 20px 30px;
  border-radius: 2rem;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.5s 1s ease-in-out;

  p {
    width: 300px;
    height: 350px;
    display: inline-block;
    text-align: start;
    overflow-y: scroll;
    pointer-events: all;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .font-sub {
    font-size: 25px;
  }

  .font-card {
    font-size: 18px;
    line-height: 1.3;
    font-family: "Noto Sans KR";
  }

  .input-to {
    align-self: flex-start;
  }

  .input-from {
    align-self: flex-end;
  }

  .inform-music {
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 13px;
  }
}

@include mobile {
  .text-preview {
    top: calc(50% - 150px);
    left: calc(50% - 145px);

    p {
      width: 250px;
      height: 200px;
      display: inline-block;
      overflow-y: scroll;
    }

    .font-sub {
      font-size: 25px;
    }

    .font-card {
      font-size: 15px;
    }
  }
}
