@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.open-playlist-action {
  animation-name: openAnimation;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes openAnimation {
  from {
    top: 55%;
    opacity: 0;
  }
  to {
    top: 49%;
    opacity: 1;
  }
}

/* ✅ 스코프 시작: 이 파일의 스타일은 playlist-container 내부에서만 적용 */
.playlist-container {
  position: fixed;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $color-white;
  padding: 0 30px;
  --shadow-color: rgb(255, 90, 40);
  filter: drop-shadow(1px 1px 8px var(--shadow-color));

  /* HIDE RADIO */
  [type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  .playlist-wrapper {
    width: 80vw;
    height: 625px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    .whitespace {
      height: 30px;
      flex: 0 0 100%;
    }
  }

  .music-item {
    position: relative;
    margin: 45px 20px;
    cursor: pointer;
  }

  .album-image {
    width: 210px;
    height: 210px;
    background-size: 105% 105%;
    background-position: center;
  }

  .music-info {
    color: $color-black;
    background-color: $color-white;
    position: absolute;
    top: 242px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    max-width: 100%;
    text-align: center;

    p {
      margin: 0;
      line-height: 1.3;
      text-overflow: ellipsis;
      overflow: hidden;
      min-width: 130px;
      white-space: nowrap;
    }

    .music-name {
      font-size: 16px;
      font-weight: 500;
      display: block;
    }

    .music-artist {
      font-size: 14px;
      margin-top: 2px;
      display: block;
    }
  }

  .music-lyrics {
    margin: 0;
    padding: 10px;
    line-height: 1.3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    font-size: 15px;
    font-weight: 500;
    color: $color-white;
  }

  /* ✅ 전용 아이콘 클래스 */
  .playlist-icon-checked {
    background: url("/assets/ui/check.svg") no-repeat center center;
    width: 70px;
    height: 70px;
    display: none;
    background-size: 100%;
  }

  .playlist-icon-play {
    background: url("/assets/ui/play.svg") no-repeat center center;
    width: 70px;
    height: 70px;
    display: none;
    background-size: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
  }

  .music-item:hover {
    .music-lyrics {
      display: flex;
    }

    .playlist-icon-play {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 10;
    }
  }

  /* ✅ 핵심: checked 스타일도 playlist 내부로만 */
  [type="radio"]:checked + div {
    box-shadow: 0 0 0 3px $color-primary;

    .album-image {
      filter: grayscale(100%);
    }

    .playlist-icon-checked {
      display: block;
      position: absolute;
      bottom: 0px;
      right: 0px;
      z-index: 10;
    }

    .music-info {
      color: $color-white;
      background-color: $color-black;
    }
  }
}

@include mobile {
  .playlist-container {
    margin-top: 10px;
    padding: 0 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .playlist-wrapper {
      width: 80vw;
      height: 65vh;
      justify-content: flex-start;
      overflow-x: hidden;

      .whitespace {
        height: 20px;
      }
    }

    .music-item {
      overflow: visible;
      margin: 30px 15px;
      border: none;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      flex-direction: row-reverse;

      .playlist-icon-play {
        display: block;
        top: 50px;
        right: -25px;
        bottom: auto;
      }
    }

    .album-image {
      width: 30vw;
      height: 30vw;
    }

    [type="radio"]:checked + div {
      box-shadow: none;

      .album-image {
        filter: none;
        box-shadow: 0 0 0 3px $color-primary;
      }

      .playlist-icon-checked {
        display: block;
        position: absolute;
        top: 50px;
        right: -25px;
        bottom: auto;
        z-index: 10;
      }

      .music-info {
        background-color: transparent;

        p {
          color: $color-white;
          background-color: $color-black;
        }

        .music-lyrics {
          position: static;
          background: transparent;
          color: $color-black;
        }
      }
    }

    .music-info {
      color: $color-black;
      background-color: transparent;
      position: static;
      transform: none;
      margin-right: 10px;
      text-align: left;
      width: 120px;
      flex: 1;

      p {
        background-color: transparent;
      }

      .music-lyrics {
        position: static;
        background: transparent;
        color: $color-black;
        padding: 10px 0 10px;
        display: block;
        font-size: 12px;
        font-weight: 400;
        text-align: left;
        width: 145px;
        white-space: break-spaces;
      }
    }

    .music-item:hover,
    [type="radio"]:checked + div {
      .music-lyrics {
        display: block;
      }

      .playlist-icon-play {
        display: block;
        top: 50px;
        right: -25px;
        bottom: auto;
      }
    }
  }
}
