@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  strong {
    font-family: guyot-headline, sans-serif;
  }
  color: $color-white;
}

h3 {
  margin-top: 20px;
  text-align: center;
  color: $color-white;
}

.landing-actions {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.button-editor {
}

.landing-actions a.button-ghost.button-recommend {
  font-size: 15px;
}

.instagram-link {
  font-size: 13px;
  position: fixed;
  bottom: 20px;
  color: $color-white;
}

.instagram-link a {
  color: $color-white;
  text-decoration: underline;
}

@include mobile {
  h3 {
    margin-top: 10px;
  }

  .landing-actions {
    margin-top: 40px;
    margin-bottom: 60px;
  }

  .instagram-link {
    font-size: 11px;
  }
}
